{% extends 'base.html' %}

{% block main %}
    <h1> Contact Form </h1>
    <hr>
    <P>Fill in this form to contact the site owners</P>
    <div class="container">
        <form action ="{{ url_for('contact') }}" method="post">

            {{ form.csrf_token }}
            <div class="my_form1">
                <h1>{{ form.name.label(class="sz") }}</h1>
                <p>Please enter name</p>
                {{ form.name(class="my_form-cont") }}
            </div>
            <div class="my_form2">
                <h1>{{ form.email.label(class="sz") }}</h1>
                <p>Please enter your e-mail address</p>
                {{ form.email(class="my_form-cont") }}
            </div>
            <div class="my_form3">
                <h1>{{ form.subject.label(class="sz") }}</h1>
                <p>Please enter the subject for your message</p>
                {{ form.subject(class="my_form-cont") }}
            </div>
            <div class="my_form4">
                <h1>{{ form.message.label(class="sz") }}</h1>
                <p>Please enter the message you would like to send</p>
                {{ form.message(class="my_form-cont") }}
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
{% endblock %}